.bracketGrid{
    display : grid;
    min-height: 1000px;
    min-width: 500px;
    background-color: rgb(255, 255, 255);
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(67, 1fr);
    margin: 20px;
    padding: 5px;

}

.svgLine{
    stroke: black;
    stroke-width: 3px;
}